body {
    font-family: 'Staatliches', cursive;
    background: url(/img/background_img.png) no-repeat center fixed;
    background-color: #c7be9f;
    background-size: cover;
}

.flex {
    display: flex;
  }
#record-list {
    list-style: none;
    justify-content: space-evenly;
    height: 400px;
    align-content: flex-start;
    flex-wrap: wrap;
}

.list-item {
    padding: 10px;
    text-align: center;
    flex-direction: column;
    background-color: white;
    border-style: solid;
    border-color: black;
    border-width: 100px;
    margin: 50px;
    border-radius: 50%;
    justify-content: space-around;
    overflow-wrap: break-word;
    height: 140px;
    width: 140px;
    transition: transform 10s ease-in-out;
    font-family: 'Permanent Marker', sans-serif;
    font-size: 80%;
  }

.list-item:hover {
    transform: rotate(360deg); 
}

.list-item2 {
    padding: 10px;
    text-align: center;
    flex-direction: column;
    background-image: linear-gradient(rgb(182, 158, 23), rgb(201, 201, 161));    
    border-style: solid;
    border-color: black;
    border-width: 100px;
    margin: 50px;
    border-radius: 50%;
    justify-content: space-around;
    overflow-wrap: break-word;
    height: 140px;
    width: 140px;
    transition: transform 10s ease-in-out;
    font-family: 'Permanent Marker', sans-serif;
    font-size: 80%;
  }

.list-item2:hover {
    transform: rotate(360deg); 
}

#form-wrapper{
    justify-content: space-evenly;
    padding-right: 10px;
}

#page-title {
    padding: 10px;
    margin: 5px;
    text-align: center;
    font-size: 100px;
    font-family: 'Staatliches', cursive;
}

.button {
    display: inline-block;
    text-align: center;
    background-color: black;
    color: white;
    border: 10px;
    font-family: 'Staatliches', cursive;
}

.button2 {
    display: inline-block;
    text-align: center;
    background-color: red;
    color: white;
    border: 10px;
    font-family: 'Staatliches', cursive;
}